DB_URL=jdbc:postgresql://localhost:5432/registro_magos
DB_USER=wizard_user
DB_PASSWORD=wizard_password

SPRING_JPA_SHOW_SQL=true
SPRING_JPA_HIBERNATE_DDL=update
SPRING_JPA_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

SPRING_APPLICATION_NAME=registro-magos