DB_NAME =
DB_USER =
DB_PASSWORD =

SPRING_JPA_SHOW_SQL=true
SPRING_JPA_HIBERNATE_DDL=update
SPRING_JPA_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

SPRING_APPLICATION_NAME=registro-magos